
<section class="slider">
  <ul class="slider-wrap">
    {% for imag in blocks.settings.image %}
      <li class="slider-item">
        <div class="copy_area">
          {{ imag }}
        </div>
      </li>
    {% endfor %}
    {%- comment -%} <li class="slider-item01 slider-item">
      <div class="copy_area">
      </div>
    </li>
    <li class="slider-item02 slider-item">
      <div class="copy_area">
      </div>
    </li>
    <li class="slider-item03 slider-item">
      <div class="copy_area">
      </div>
    </li>
    <li class="slider-item04 slider-item">
      <div class="copy_area">
      </div>
    </li> {%- endcomment -%}
  </ul>

</section>
<style>
  .slider-item{
    background-image: {{ image }};
  }
</style>
{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}